.study-wrapper {
    padding: 67px 0 50px 0;
    @include responsive(991) {
        padding: 20px 0;
    }

    .study-item {
        margin-bottom: 70px;
        @include responsive(991) {
            margin-bottom: 30px;
        }

        &:nth-child(even) {
            .study-box {
                @include flex-direction(row-reverse);

                .box-content {
                    .content-wrap {
                        background: #193769;

                        &:before {
                            background: #193769;
                            right: unset;
                            left: -50px;
                        }
                    }
                }
            }
        }
    }

    .study-heading {
        margin-bottom: 50px;
        @include responsive(767) {
            margin-bottom: 20px;
        }

        .study-title {
            color: #193769;
            font-weight: bold;
            font-size: 34px;
            line-height: 1.4;
            text-align: center;
            text-transform: uppercase;
            @include responsive(991) {
                font-size: 18px;
                line-height: 25px;
            }

            span {
                color: #790D13;
            }

            mark {
                background: #F9F9FB;
                color: #193769;

                span {
                    color: #790D13;
                }

            }

            &.study-title-style-1 {
                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    position: absolute;
                    border: 4px solid #790313;
                    border-radius: 10px;
                    display: block;
                    z-index: -1;
                    right: 67px;
                    width: 388px;
                    height: 82px;
                    top: -18px;
                    @include responsive(991) {
                        content: none;
                    }
                }
            }

            &.study-title-style-3 {
                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    position: absolute;
                    border: 4px solid #790313;
                    border-radius: 10px;
                    width: 322.21px;
                    height: 90px;
                    display: block;
                    z-index: -1;
                    left: 67px;
                    top: -22px;
                    @include responsive(991) {
                        content: none;
                    }
                }
            }
        }
    }

    .study-box {
        @include flexbox();
        @include align-items(flex-end);
        @include flex-wrap(wrap);
        @include responsive(991) {
            @include align-items(unset);
            @include flex-direction(column-reverse);
        }

        .box-content {
            @include flex-basis(52%);
            max-width: 52%;
            @include responsive(991) {
                @include flex-basis(100%);
                max-width: 100%;
            }

            .content-wrap {
                background: #790313;
                border-radius: 20px;
                padding: 60px 30px 60px 60px;
                position: relative;
                z-index: 1;
                @include responsive(1199) {
                    padding: 25px 50px 60px 50px;
                }
                @include responsive(991) {
                    padding: 20px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    right: -50px;
                    width: 100px;
                    display: block;
                    background: #790313;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    @include responsive(991) {
                        content: none;
                    }
                }

                ul {
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    margin-bottom: 55px;
                    @include responsive(991) {
                        padding-left: 0;
                    }
                    @include responsive(575) {
                        margin-bottom: 20px;
                    }

                    li {
                        font-size: 20px;
                        line-height: 24px;
                        color: #F8F8F8;
                        position: relative;
                        padding-left: 30px;
                        margin-bottom: 10px;

                        &:before, &:after {
                            content: '';
                            position: absolute;
                            display: block;
                            border-radius: 20px;
                        }

                        &:before {
                            width: 12px;
                            height: 12px;
                            background: #F8F8F8;
                            box-shadow: 3px 1px 4px rgba(141, 141, 141, 0.28);
                            left: 0;
                            top: 7px;
                            z-index: 1;
                        }

                        &:after {
                            background: #176EFF;
                            width: 4px;
                            height: 4px;
                            left: 4px;
                            top: 11px;
                            z-index: 2;
                        }
                    }
                }

                .button-wrap {
                    text-align: center;

                    .action-button {
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 24px;
                        color: #F8F8F8;
                        text-transform: uppercase;
                        background: #001CB1;
                        border-radius: 5px;
                        display: inline-block;
                        padding: 18px 55px;
                        @include responsive(991) {
                            width: 100%;
                            font-size: 14px;
                            line-height: 17px;
                            padding: 18px 15px;
                        }
                    }
                }
            }
        }

        .box-image {
            position: relative;
            z-index: 2;
            @include flex-basis(48%);
            max-width: 48%;
            @include responsive(991) {
                display: none;
            }

            .images-slideshow {
                @include responsive(767) {
                    margin-bottom: 30px;
                }

                .slick-arrow {
                    width: 42px;
                    height: 42px;
                    background-size: 42px 42px;
                    background-repeat: no-repeat;
                    z-index: 1;
                    @include responsive(575) {
                        display: none !important;
                    }

                    &:before {
                        content: none;
                    }

                    &.slick-prev {
                        background-image: url(../images/certificate-prev.png);
                        left: 20px;
                    }

                    &.slick-next {
                        background-image: url(../images/certificate-next.png);
                        right: 20px;
                    }
                }

                .image-box {
                    border-radius: 10px;
                    height: 580px;
                    overflow: hidden;
                    @include responsive(767) {
                        height: 500px;
                    }
                    @include responsive(575) {
                        height: 280px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover
                    }
                }
            }
        }
    }
}
