@charset "UTF-8";
.media-wrap ul.attachments {
  list-style-type: none;
  margin: 0 -8px 0 -8px;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.media-wrap ul.attachments li.attachment {
  -webkit-flex-basis: 10%;
  -moz-flex-basis: 10%;
  -ms-flex-basis: 10%;
  flex-basis: 10%;
}
@media (max-width: 1499px) {
  .media-wrap ul.attachments li.attachment {
    -webkit-flex-basis: calc(100% / 8);
    -moz-flex-basis: calc(100% / 8);
    -ms-flex-basis: calc(100% / 8);
    flex-basis: calc(100% / 8);
  }
}
@media (max-width: 1399px) {
  .media-wrap ul.attachments li.attachment {
    -webkit-flex-basis: calc(100% / 7);
    -moz-flex-basis: calc(100% / 7);
    -ms-flex-basis: calc(100% / 7);
    flex-basis: calc(100% / 7);
  }
}
@media (max-width: 1199px) {
  .media-wrap ul.attachments li.attachment {
    -webkit-flex-basis: calc(100% / 5);
    -moz-flex-basis: calc(100% / 5);
    -ms-flex-basis: calc(100% / 5);
    flex-basis: calc(100% / 5);
  }
}
@media (max-width: 767px) {
  .media-wrap ul.attachments li.attachment {
    -webkit-flex-basis: calc(100% / 4);
    -moz-flex-basis: calc(100% / 4);
    -ms-flex-basis: calc(100% / 4);
    flex-basis: calc(100% / 4);
  }
}
@media (max-width: 599px) {
  .media-wrap ul.attachments li.attachment {
    -webkit-flex-basis: calc(100% / 2);
    -moz-flex-basis: calc(100% / 2);
    -ms-flex-basis: calc(100% / 2);
    flex-basis: calc(100% / 2);
  }
}
.media-wrap ul.attachments li.attachment .attachment-preview {
  padding: 8px;
  width: 100%;
  height: 100%;
}
.media-wrap ul.attachments li.attachment .attachment-preview .thumbnail {
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  background: #eee;
}
.media-wrap ul.attachments li.attachment .attachment-preview .thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.media-wrap ul.attachments li.attachment .attachment-preview .thumbnail img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.attachment-details-modal .attachment-preview-wrap {
  text-align: center;
}
.attachment-details-modal .attachment-preview-wrap img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  background-image: linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
.attachment-details-modal .attachment-details-wrap .attachment-info {
  list-style: none;
  margin: 0;
  padding: 0;
}
.attachment-details-modal .attachment-details-wrap .attachment-info li {
  margin-bottom: 5px;
}
.attachment-details-modal .attachment-details-wrap .attachment-info li span {
  font-weight: 700;
}

.attachment-select-modal .attachment-preview-wrap {
  max-width: 120px;
  max-height: 120px;
}
.attachment-select-modal .attachment-preview-wrap img {
  vertical-align: middle;
  display: block;
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
  background-image: linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
.attachment-select-modal .attachment-details-wrap .attachment-info {
  list-style: none;
  margin: 0;
  padding: 0;
}
.attachment-select-modal .attachment-details-wrap .attachment-info li {
  margin-bottom: 5px;
}
.attachment-select-modal .attachment-details-wrap .attachment-info li span {
  font-weight: 700;
}
.attachment-select-modal .media-wrap ul.attachments li.attachment.selected .attachment-preview {
  position: relative;
}
.attachment-select-modal .media-wrap ul.attachments li.attachment.selected .attachment-preview:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  display: block;
  border: 4px solid #17a2b8;
}

.modal-xl {
  max-width: 97%;
}

.media-modal .modal-dialog .modal-content {
  height: calc(100vh - 3.75rem);
}
.media-modal .modal-dialog .modal-content .modal-body {
  height: 100%;
  position: relative;
}
.media-modal .modal-dialog .modal-content .modal-body .media-toolbar {
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  background: #fff;
}
.media-modal .modal-dialog .modal-content .modal-body .nav-tabs {
  margin-bottom: 30px;
}
.media-modal .modal-dialog .modal-content .modal-body #media-upload #previews {
  height: calc(100vh - 20.75rem);
  overflow-y: scroll;
  overflow-x: hidden;
}
.media-modal .modal-dialog .modal-content .modal-body .attachments, .media-modal .modal-dialog .modal-content .modal-body .attachment-details-wrap {
  height: calc(100vh - 17.75rem);
  overflow-y: scroll;
  overflow-x: hidden;
}
.media-modal .modal-dialog .modal-content .modal-body .attachment-preview-wrap {
  max-width: 120px;
  max-height: 120px;
}
.media-modal .modal-dialog .modal-content .modal-body .attachment-preview-wrap img {
  vertical-align: middle;
  display: block;
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
  background-image: linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
.media-modal .modal-dialog .modal-content .modal-body .media-wrap ul.attachments li.attachment.selected .attachment-preview {
  position: relative;
}
.media-modal .modal-dialog .modal-content .modal-body .media-wrap ul.attachments li.attachment.selected .attachment-preview:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  display: block;
  border: 4px solid #17a2b8;
}

.admin-pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.admin-pagination .pagination-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.admin-pagination .pagination-wrap span {
  display: block;
  margin: 0 2px;
}
.admin-pagination .pagination-wrap span a {
  display: block;
  min-width: 30px;
  min-height: 30px;
}
.admin-pagination span.text {
  margin: 0 10px;
}

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item, .dd-empty, .dd-placeholder {
  display: block;
  position: relative;
  margin: 5px 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  height: 42px;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #dcdcde;
  background: #fafafa;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: move;
}
.dd-handle:hover {
  border-color: #8c8f94;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  content: "+";
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button[data-action=collapse]:before {
  content: "-";
}

.dd-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.menu-item-collapse-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  color: transparent;
  width: 30px;
  height: 42px;
  outline: 0;
}
.menu-item-collapse-button:before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  content: "";
  color: #787c82;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 14px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.menu-item-collapse-button.collapsed:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -moz-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
}

.menu-item-content .content-wrap {
  min-height: 1px;
  padding: 1.25rem;
  z-index: 10;
  border: 1px solid #c3c4c7;
  border-top: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
}

.row-actions {
  color: #dcdcde;
  font-size: 13px;
  padding: 2px 0 0;
  position: relative;
  list-style-type: none;
}
.row-actions li {
  display: inline-block;
}
.row-actions li:after {
  content: "|";
}
.row-actions li:last-child:after {
  content: none;
}
.row-actions li.delete a {
  color: #dc3545;
}
.row-actions li.delete a:hover {
  color: #c82333;
}
.row-actions li a {
  color: #17a2b8;
}
.row-actions li a:hover {
  color: #138496;
}

tr:hover .row-actions {
  visibility: visible;
  opacity: 1;
}
tr .row-actions {
  visibility: hidden;
  opacity: 0;
}

.taxonomy-check-list {
  max-height: 195px;
  overflow-x: auto;
}
.taxonomy-check-list .checkbox-item .children {
  padding-left: 14px;
}

.featured-image-preview {
  margin-bottom: 20px;
}
.featured-image-preview img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.capitalize-first-letter {
  text-transform: lowercase;
}
.capitalize-first-letter:first-letter {
  text-transform: capitalize;
}

a {
  color: #17a2b8;
}
a:hover {
  color: #138496;
}

.taxonomy-list {
  word-wrap: break-word;
  max-width: 160px;
  white-space: normal !important;
}
.taxonomy-list a:after {
  content: ", ";
}
.taxonomy-list a:last-child:after {
  content: none;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #17a2b8;
}

.brand-link {
  font-size: 0;
  color: transparent;
}
.brand-link img.brand-image {
  float: unset;
  margin: 0;
}

.meta-box-disabled {
  opacity: 0.5;
}

ul.post-status {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  font-size: 13px;
  color: #666;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
ul.post-status li {
  margin-right: 5px;
}
ul.post-status li.active {
  color: #000;
}
ul.post-status li.active a {
  color: #000;
  font-weight: 500;
}
ul.post-status li:last-child:after {
  content: none;
}
ul.post-status li:after {
  content: "|";
  margin-left: 5px;
}

/*# sourceMappingURL=admin.css.map */
