.team-wrapper {
    padding: 100px 0;
    overflow: hidden;
    @include responsive(991) {
        padding: 20px 0;
    }

    .section-heading {
        @include responsive(575) {
            text-align: center;
        }

        .section-title-style-2 {
            margin-bottom: 27px;
            @include responsive(575) {
                font-size: 30px;
                display: inline-block
            }
        }

        .subtitle {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #000000;
            font-weight: 400;
            @include responsive(767) {
                display: none;
            }
        }

        .button-wrapper {
            text-align: center;
            margin-top: 55px;
            @include responsive(767) {
                display: none;
            }

            a {
                display: inline-block;
                background: transparent;
                border-radius: 5px;
                font-weight: 600;
                border: 2px solid #193769;
                font-size: 18px;
                line-height: 22px;
                color: #F8F8F8;
                padding: 24px 38px;

                &:hover {
                    color: #193769;
                }

                &:before, &:after {
                    background-color: #193769;
                }
            }
        }
    }

    .member-carousel {
        .slick-slide {
            margin: 0 12px;
            @include responsive(575) {
                margin: 0 3px;
            }
        }

        .slick-list {
            margin: 0 -12px;
            @include responsive(575) {
                margin: 0 3px;
            }
        }

        .slick-arrow {
            width: 33px;
            height: 33px;
            background-size: 33px 33px;
            background-repeat: no-repeat;
            z-index: 1;
            @include responsive(575) {
                width: 18px;
                height: 18px;
                background-size: 18px 18px;
            }

            &:before {
                content: none;
            }

            &.slick-prev {
                background-image: url(../images/member-prev.png);
                left: 0;
            }

            &.slick-next {
                background-image: url(../images/member-next.png);
                right: 0;
            }
        }
    }

    .member-card {
        background: #193769;
        box-shadow: 0 0 60px 2px rgba(165, 171, 255, 0.17);
        border-radius: 10px;
        padding: 28px 0;
        @include responsive(575) {
            padding: 10px 0;
        }

        .avatar {
            background: #FFFFFF;
            width: 223px;
            height: 223px;
            border: 8px solid #fff;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto 38px auto;
            @include responsive(1199) {
                width: 150px;
                height: 150px;
            }
            @include responsive(575) {
                width: 100px;
                height: 100px;
                margin: 0 auto 10px auto;
                border: 4px solid #fff;
            }
        }

        .info {
            text-align: center;
            padding: 0 15px;
            @include responsive(575) {
                padding: 0 5px;
            }

            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                margin-bottom: 25px;
                @include responsive(575) {
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 5px;
                }
            }

            p {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.03em;
                color: #F8F8F8;
                @include responsive(575) {
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.03em;
                }
            }
        }
    }
}
