.admin-pagination {
    @include flexbox();
    @include justify-content(flex-end);
    @include align-items(center);
    font-size: 14px;
    margin-bottom: 20px;

    .pagination-wrap {
        @include flexbox();
        @include align-items(center);

        span {
            display: block;
            margin: 0 2px;

            a {
                display: block;
                min-width: 30px;
                min-height: 30px;
            }
        }
    }

    span.text {
        margin: 0 10px;
    }
}
